<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 3</title>
</head>
<body>
    <h1>Welcome to my Flask App!!</h1>
    <h2>Sign up now</h2>
    <form action="/submit" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="Password">Password:</label>
        <input type="Password" id="Password" name="Password" required><br><br>
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>